:host {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: var(--color-text, #ccc) solid 2px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: var(--border-radius, 10px);
    &.select-panel-open {
        position: relative;
        z-index: 1001;
      }
}

.panel {
    min-width: 250px;
    padding: 0px 10px 5px 10px;
    box-sizing: border-box;
    border-radius: var(--border-radius, 10px);
    border: var(--color-text, #ccc) solid 2px;
    background-color: #fff;
    transform-origin: top;
    min-height: 45px;
    max-height: 180px;
    overflow: auto;
  }

  .selected-value {
    white-space: nowrap;
    overflow: hidden;
  }