:host {
    display: flex;
  align-items: center;
  height: 34px;
  // padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 14px;
  border: transparent 1px solid;
  cursor: pointer;
  &:hover:not(.sticky) {
    background-color: var(--color-background, #e5f2f8);
  }
  &.selected {
    // &::before {
    //   content: '✔️';
    //   animation: checked-option 320ms ease-out;
    //   transform-origin: bottom left;
    // }
    .option-content {
    //   transform: translateX(7px);
    }
  }

}


.option-content {
    width: 100%;
  }